.carousel {
  display: flex;
  overflow: hidden;
  height: 100vh;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  background: #f0f0f0;

  @media (max-width: 768px) {
    flex-direction: column;
  }


  &__inner {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
      touch-action: none;
    }
  }

  &__item {
    height: 100%;
    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }

    &__media {
      height: 100%;
      width: auto;
      -webkit-user-drag: none;
      @media (max-width: 768px) {
        width: 100%;
        height: auto;
      }
    }

  }

}

.info {
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  pointer-events: none;
  text-wrap: nowrap;
  padding: 10px;
}